/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 1200px;
  margin: 25px;
}

h1 {
  margin: 15px;
}

.visible-list {
  display: flex;
  flex-direction: column;
  margin: 25px 15px;
  gap: 24px;
}

.visible-list a {
  width: 200px;
  padding: 10px;
  border: 1px solid #242424;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: rgb(0, 0, 0);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.visible-list a:hover,
.visible-list a:focus {
  background-color: rgb(122, 191, 191);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
a.return-home {
  margin: 25px;
  width: 200px;
  padding: 10px;
  background-color:#fff;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
transition: background-color 0.5s ease;
}

.return-home button:hover,
.return-home button:focus {
  background-color: #6c8cff;
}
input{
      margin-top: 32px;
  background: #fff;
border: 1px solid #808080;
  border-radius: 4px;
    width: 272px;
    height: 20px;
    font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #2e2f42;
      padding: 8px 16px;
}
input:hover {
border: 1px solid #000;
}
input:active{
  border: 1px solid #4e75ff;
}
input:disabled {
background: #fafafa;
border: 1px solid #808080;
color: #808080;
      cursor: not-allowed;
}

button{
  background: #4e75ff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}
button:hover {
  background: #6c8cff;
}
button:disabled {
  background: #cfcfcf;
  cursor: not-allowed;

}

.field{
  display: flex;
  flex-direction: column;
align-items: center;

}
.timer{
  display: flex;
  flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
    margin-top: 32px;
}
.value{
  font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.label{
  font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
    text-transform: uppercase;
}